.insert {
	width: 1142px;
	height: 300px;
}

.insert .item2 {
	width: 550px;
}

.item2 span {
	display: inline-block;
	width: 150px;
}

.item2 input {
	width: 350px;
	background-color: #F5F6FA;
	border: 1px solid #D5D5D5;
	border-radius: 8px;
}

.item2 .insertBtn {
	width: 270px;
	height: 40px;
	background-color: #4880FF;
	color: white;
	border: none;
}
.item2 .insertBtn:active {
	box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2); /* 안쪽 그림자 */
	background-color: #3965cc;
	transform: scale(0.98); /* 살짝 눌린 효과 */
}