.header * {
  box-sizing: border-box;
}
.header {
  height: 116px;
  position: relative;
}
.horizontal-border {
  border-style: solid;
  border-color: #d2d2d2;
  border-width: 0px 0px 1px 0px;
  
}

header .line {
	width: 1200px;
	border: 1px solid #000;
}

header .util {
  height: 36px;
}

header .container1 {
	margin-left: 430px;
}


.background-border {
  background: #947d69;
  border-radius: 40px;
  border-style: solid;
  border-color: #947d69;
  border-width: 2px;
  width: 445px;
  height: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

input.input-search:focus {outline:none;}
input.input-search::placeholder { color: #ffffff; }

.input-search {
  border-style: none;
  background: #947d69;
  color: #ffffff;
  text-align: left;
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 17px;
  font-weight: 150;
  position: relative;
  left: 20px;
  padding-left: 4px;
  width: 350px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.search {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
}
.link3 {
  width: 80px;
  height: 43px;
  position: absolute;
  left: 859px;
  top: 19px;
  
}
.btn-custom {
  padding: 12px;
  color: #ffffff;
  text-align: center;
  background: #947d69;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "NotoSansKr-Bold", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

